{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container-fluid vh-100 vw-100 d-flex flex-column p-0 mb-auto mt-3">
    <div class="row flex-grow-1 w-100 m-0">
        <!-- Lado izquierdo para listar conversaciones -->
        <div class="col-md-3 border-end h-100 overflow-auto">
            <h3 class="text-center">Mensajes</h3>
            <div class="d-grid gap-2 my-4">
                <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#nuevaConversacionModal">
                    Nueva Conversación
                </button>
            </div>
            <div class="row">
                {% if conversaciones %}
                <div class="conversaciones-container">
                    {% for conversacion in conversaciones %}
                    <a href="{% url 'bandeja_entrada' %}?usuario_id={{ conversacion.usuario.id }}" class="text-decoration-none">
                        <div class="card mb-1">
                            <div class="card-body">
                                <h6 class="card-title d-flex justify-content-between">{{ conversacion.usuario.first_name }} {{ conversacion.usuario.last_name }}
                                    <form method="post" action="{% url 'bandeja_entrada' %}?usuario_id={{ conversacion.usuario.id }}" class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="accion" value="eliminar_conversacion">
                                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                                <i class="bi bi-trash3-fill"></i>
                                            </button>
                                    </form>
                                </h6>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>No tienes conversaciones aún.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Lado derecho para mostrar detalles de la conversación -->
        <div class="col-md-9 border-start h-100 d-flex flex-column">
            {% if conversacion_seleccionada %}
                <h3>{{ conversacion_seleccionada.usuario.first_name }} {{ conversacion_seleccionada.usuario.last_name }}</h3>
                <hr>
                <div class="flex-grow-1 overflow-auto mensajes-container">
                    <div class="mensajes mb-1">
                        {% for fecha, mensajes in conversacion_seleccionada.mensajes_agrupados.items %}
                            {% with primer_mensaje=mensajes.first.mensaje %}
                                {% if forloop.first or fecha != primer_mensaje.timestamp|date:"Y-m-d" %}
                                    <div class="fecha text-muted text-center">
                                        {{ fecha }}
                                    </div>
                                {% endif %}
                                <div class="mensaje-group">
                                    {% for mensaje_info in mensajes %}
                                        {% with mensaje=mensaje_info.mensaje es_remitente=mensaje_info.es_remitente %}
                                            <div class="mensaje {% if es_remitente %}remite{% else %}destino{% endif %}">
                                                <div class="d-flex justify-content-between">
                                                    <p class="me-2">{{ mensaje.contenido }}</p>
                                                    <div class="text-end fw-lighter align-self-end">
                                                        <p>{{ mensaje.timestamp|time:"H:i" }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <form id="formEnviarMensaje" method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="accion" value="enviar_mensaje">
                    <input type="hidden" name="usuario_id" value="{{ conversacion_seleccionada.usuario.id }}">
                    <div class="d-flex justify-content-between align-items-center mt-2" style="width: 100%;">
                        <div class="w-80" style="width: 90%;">
                            {{ conversacion_seleccionada.form_mensaje }}
                        </div>
                        <div class="w-20" style="width: 8%;">
                            <button type="submit" class="btn btn-custom w-100">Enviar</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="d-flex justify-content-center align-items-center flex-grow-1">
                    <div class="text-center">
                        <p class="text-muted">Selecciona una conversación para ver los detalles.</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal para crear nueva conversación -->
<div class="modal fade" id="nuevaConversacionModal" tabindex="-1" aria-labelledby="nuevaConversacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nuevaConversacionModalLabel">Nueva Conversación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para crear nueva conversación -->
                <form method="POST" action="{% url 'crear_conversacion' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form_nueva_conversacion.destinatario }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-custom">Crear conversación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        const formEnviarMensaje = document.getElementById('formEnviarMensaje');
        const textAreaMensaje = formEnviarMensaje.querySelector('textarea');
    
        textAreaMensaje.addEventListener('keydown', function (event) {
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();
                formEnviarMensaje.submit();
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const mensajesContainer = document.querySelector(".mensajes-container");
        const mensajes = mensajesContainer.querySelectorAll(".mensaje");

        let startY;
        let scrollY;
        let scrollAmount;

        mensajesContainer.addEventListener("wheel", function(event) {
            startY = event.pageY;
            scrollY = 0;
            scrollAmount = 0;
        });
    });
    </script>
{% endblock %}
