{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2>Mis Cursos</h2>
            <ul class="list-group">
                {% for curso in cursos %}
                <li class="list-group-item">
                    <h4>{{ curso.titulo }}</h4>
                    <p>{{ curso.descripcion }}</p>
                    <p>Instructor: {{ curso.instructor }}</p>
                    <p>Fecha de inicio: {{ curso.fecha_inicio }}</p>
                </li>
                {% empty %}
                <li class="list-group-item">No estás inscrito en ningún curso aún.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
