{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0 text-center">Enviar Mensaje</h5>
                </div>
                <div class="card-body text-center">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.destinatario }}
                            {% if form.destinatario.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.destinatario.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.contenido }}
                            {% if form.contenido.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.contenido.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </form>                                    
                </div>                
            </div>
        </div>
    </div>
</div>
{% endblock %}
