{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg custom-navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'core/img/logo_SCHOLAR_FLAME.jpg' %}" id="Logo" alt="Logo" class="logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Noticias</a>
                </li>
            </ul>
            
            <ul class="navbar-nav">
                
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'logout' %} ">cerrar sesión</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'perfil' %}"> !Hola!  {{ user.username }} </a>
                </li>

                {% else %}
                
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'login' %} ">Iniciar sesión</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'registro' %} ">Registrate</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <ul>
            <li>Nombre: {{ user.first_name }} </li>
            <li>Apellido: {{ user.last_name }} </li>
            <li>Rut: {{ user.usuariodetalles.rut }} </li>
            <li>Usuario: {{ user.username }} </li>
            <li>Email: {{ user.email }} </li>
        </ul>
        
    </div>
</div>
{% endblock %}